# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# nginx
client_body_temp
proxy_temp
fastcgi_temp
scgi_temp
uwsgi_temp

logs